*,

*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    min-width: 100vw;
    background-color: aquamarine;
}
#left{
    background-color: rgb(24, 152, 1);
    width: 400px;
    float: left;
    min-height: 100vh;
    
}
#right{
    background-color: rgb(233, 7, 7);
   width: 300px;
    float: right;
    min-height: 100vh;
}
